<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Applicant Home</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
	crossorigin="anonymous"></script>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light"
		style="background-color: #e3f2fd;">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Internship Network</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item px-2">Welcome <span
						sec:authentication="principal.username"></span>
					</li>
					<li class="nav-item px-2"><a class="nav-link active"
						th:href="@{/applicant/profile}">My Profile</a></li>
					<li class="nav-item px-2" sec:authorize="isAuthenticated()"><a
						class="nav-link active" th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="fs-3 mb-3 text-center">Internship Profiles History</div>

	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Duration</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="profile:${profiles}">
				<td th:text="${profile[0]}"></td>
				<td th:text="${profile[1]}"></td>
				<td th:text="${profile[2]}"></td>
				<td th:switch="${profile[3]}">
					<p th:case="'0'">Pending</p>
					<p th:case="'1'">Approved</p>
					<p th:case="'2'">Rejected</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>