<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
    <div class="container my-5">
        <h3> Add Profile</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/internshipProfile}" th:object="${internshipProfile}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="title" class="col-form-label">Title</label> 
                                <input type="text" th:field="*{title}" class="form-control" 
                                            id="title" placeholder="title"  required/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="domain" class="col-form-label">Domain</label> 
                                <input type="text" th:field="*{domain}" class="form-control" 
                                            id="domain" placeholder="domain" required/>
                            </div>
                             <div class="form-group col-md-8">
                                <label for="description" class="col-form-label">Description</label> 
                                <input type="text" th:field="*{description}" class="form-control" 
                                            id="description" placeholder="Description" required/>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="duration" class="col-form-label">Duration</label> 
                                <input type="number" th:field="*{duration}" class="form-control" 
                                            id="duration" placeholder="Duration"  required/>
                            </div>
                  
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value=" Submit ">
                            </div>

                            <input type="hidden" id="id" th:field="*{id}">
    
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>